.top_section{
    display: flex;
    justify-content: space-between;
}
.top_section_left{
    flex:45%;
}
.top_section_right{
    flex:55%;

}
.inner{
    display: flex;
    justify-content: space-between;
}
.button_type{
    background-color: rgba(118, 118, 128, 0.12);
    padding: 4px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border-radius: 0.625rem;
}
.button_type .left{
    display: flex;
    flex-direction: column;
}
.button_type .right_top_text{
    margin: 0;
    font-size: 14px;
    color: rgba(60, 60, 67, 0.6);
}
.button_type .right_bottom_text{
    margin: 0;

}

.chart_div{
    display: fixed;
    height: 48.5vh;
    overflow-y: scroll;
    text-align: center;
}

.chart_div::-webkit-scrollbar {
    background-color: rgba(122, 122, 122, 1);
    width: 2px;
    margin-left: 1rem;
  }
   
  .chart_div::-webkit-scrollbar-track {
  background-color: rgba(232, 232, 232, 1);
  }
   
  .chart_div::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 1);
    border-radius: 10px;
  }