.nav{
    display: flex;
    justify-content: space-evenly;
}
.active{
    color:rgba(212, 158, 12, 1);
    padding-bottom:1rem ;
    border-bottom: 3px solid rgba(212, 158, 12, 1);
    position: relative;
    cursor: pointer;
}

.notActive{
    cursor: pointer;
    padding-bottom:1rem ;
    border-bottom: 3px solid transparent;
}