.outer_container{
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    padding-bottom: 0;
}
.inner_container{
    width: 90%;
    margin: auto;
    
}
.top_section{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 1rem;
}
.top_section_right{
    width: 30%;
}
.contact_details{
    display: flex;
    justify-content:left;
    gap:0.85rem;
    align-items: center;
    font-size: 0.875rem;
}