.top_section{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.filter_btn{
    flex:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(118, 118, 128, 0.12);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.625rem;
}
.search_input{
    flex: 80%;
}
.action_section{
    display: flex;
    justify-content: space-between;
}
.action_section_left{

    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 2rem;
}
.action_section_left .filter_btn{
    flex:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(118, 118, 128, 0.12);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.625rem;
}
.action_section_left .p{
    margin: 0;
}
