.main_div{
    background-image: url("../../../public/landingPageBg.svg");
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}