.main_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.menu_item_div{
    cursor: pointer;
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content:space-around;
    font-weight: 600;
    font-size: 18px;
    color: rgba(10, 44, 78, 1);
}
.active_menu{
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(212, 158, 12, 1);
    color: white;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    font-weight: 600;
}
.activeOption{
    cursor: pointer;
    font-size: 16px;
    color: rgba(212, 158, 12, 1);
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    
    font-weight: 600; 
}
.inActiveOption{
   
    cursor: pointer;
    font-size: 16px;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    font-weight: 600; 
}
.menuOption{
    margin: 0;
}
@media screen and (max-width: 1200px){

    .menu_item_div{
       
        gap:1rem;
        font-size: 16px;
    
    }
    }