.main_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.menu_item_div{
    cursor: pointer;
    display: flex;
    gap:2.5rem;
    align-items: center;
    justify-content:space-around;
    font-weight: 600;
}
.active_menu{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(212, 158, 12, 1);
    color: white;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    font-weight: 600;
}
@media screen and (max-width: 1100px){

    .menu_item_div{
       
        gap:1rem;
    
    }
    }