.main_container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    
}
.main_container::before{
    content: " ";
    position: absolute;
    background-color: rgba(10, 44, 78, 1);
    width: 3px;
    height: 69px;
    right: -3px;
    bottom: 0;
    top:5px;
    border-top-left-radius: 2rem;
}
.view_report{
    position: absolute;
    top:0.2rem;
    right: 0;
    border-top-left-radius:1.5rem;
    background-color: rgba(10, 44, 78, 1);
    color: rgba(212, 158, 12, 1);
    padding: 1.6rem 1rem;
    opacity: 0; /* Initially not visible */
    transform: translateX(100%); /* Move div to the right of the screen */
    transition: all 0.5s ease;
}
.main_container:hover  .view_report{
    opacity: 1; /* Make div visible on hover */
    transform: translateX(0); /* Move div back to original position */
  
}
.hr_div{
    width: 95%;
    margin: auto;
}
.first_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem
}
.first_div .bottom{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.first_div .bottom .p{

position: relative;

}
.first_div .bottom .p::before{
content: " ";
position: absolute;
background-color: rgba(37, 37, 37, 1);
width: 2px;
height: 20px;
right: -7px;
bottom: 0;
}
.second_div .p{
    color: rgba(212, 158, 12, 1);
}
.third_div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.fourth_div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0.2rem;
}
.fourth_div .right{
    display: flex;
    flex-direction: column;
}
.fourth_div .right .second_item{
    display: flex;
    justify-content: space-between;
}