.main_container{
    position: relative;
    width: 90%;
    margin: auto;
  
}
.close_btn{
    position: absolute;
    top:-5px;
    right: 0;
    cursor: pointer;
}
.text_under_input{
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: left;
}